<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Anton" />
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Anton" />
    <head>
        <meta charset="utf-8">
        <title>
            Recommended Route | Git2Txt
        </title>
    </head>
    <body>
<div class="header-container">
      <div class="header">
        <h1>Gif2Text</h1>
            <div class = "topnav" id = "myTopnav">
             <a href="/">Home</a>
             <a href="/the_app">The App</a>
             <a href="/about_project">Learn more</a>
             <a href="/about_us">Meet the team</a>
       </div>
    </div>
</div>
</body>

<div id = "content">
<h1>About Gif2Text </h1>
<body>
  <h2>WTF?</h2>
  <p>We where at HackMIT and giphy was a sponsor. We thought lol gifs and hense Gif Text was born</p>
</body>
</div>
